nav {
  width: 100%;
  background-color: #1A1A1A;
  margin-top: 3% !important; }
  nav .menu_toggle {
    display: none; }
  nav .menu__input {
    position: absolute;
    top: -9999999px;
    left: -999999px; }

.menu {
  display: flex;
  justify-content: flex-end; }
  .menu .menu_item {
    flex-grow: 0.1;
    padding: 15px 0;
    text-align: center;
    z-index: 1;
    background-color: #1A1A1A; }
    .menu .menu_item .menu__link {
      width: 100%;
      display: block;
      text-decoration: none;
      color: white;
      transition: color .2s; }
      .menu .menu_item .menu__link:hover {
        color: #FFA300; }

@media only screen and (max-width: 767px) {
  nav {
    margin-top: 0 !important; }
    nav .menu_toggle {
      position: relative;
      display: flex;
      justify-content: flex-end;
      padding: 10px; }
      nav .menu_toggle .menu__labelH {
        cursor: pointer;
        height: 2rem;
        width: 3.6rem;
        z-index: 2;
        padding: 10px; }
        nav .menu_toggle .menu__labelH .menu_toggle_bar,
        nav .menu_toggle .menu__labelH .menu_toggle_bar:after,
        nav .menu_toggle .menu__labelH .menu_toggle_bar::before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.5s ease;
          background: white;
          content: '';
          height: 0.4rem;
          width: 3rem; }
        nav .menu_toggle .menu__labelH .menu_toggle_bar {
          margin-top: 0; }
          nav .menu_toggle .menu__labelH .menu_toggle_bar::after {
            margin-top: 0.8rem; }
          nav .menu_toggle .menu__labelH .menu_toggle_bar::before {
            margin-top: -0.8rem; }
      nav .menu_toggle .menu__labelH.transformMenu .menu_toggle_bar {
        background: transparent; }
      nav .menu_toggle .menu__labelH.transformMenu .menu_toggle_bar::after {
        transform: rotate(45deg); }
      nav .menu_toggle .menu__labelH.transformMenu .menu_toggle_bar::before {
        transform: rotate(-45deg); }
      nav .menu_toggle .menu__labelH.transformMenu .menu_toggle_bar::after, nav .menu_toggle .menu__labelH.transformMenu .menu_toggle_bar::before {
        background: white;
        margin-top: 0; }
    nav #toogle:checked + .menu {
      transition: 0.2s;
      left: 0; }
  .menu {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    left: -100%;
    top: 0;
    height: 0;
    transition: 0.2s; } }
