$background-menu: #1A1A1A;

nav {
    width: 100%;
    background-color: $background-menu;
    margin-top: 3% !important;

    .menu_toggle {
        display: none;
    }
    .menu__input {
        position: absolute;
        top: -9999999px;
        left: -999999px;
    }
}

.menu {
    display: flex;
    justify-content: flex-end;
    .menu_item {
        flex-grow: 0.1;
        padding: 15px 0;
        text-align: center;
        z-index: 1;
        background-color: $background-menu;
        .menu__link {
            width: 100%;
            display: block;
            text-decoration: none;
            color: white;
            transition: color .2s;
                &:hover{
                    color: #FFA300;
                }
        }
    }
}

@media only screen and (max-width: 767px) {
    nav {
        margin-top:0 !important;

        .menu_toggle {
            position: relative;
            display: flex;
            justify-content: flex-end;
            padding: 10px;
            .menu__labelH {
                cursor: pointer;
                height: 2rem;
                width: 3.6rem;
                z-index: 2;
                padding: 10px;

                .menu_toggle_bar,
                .menu_toggle_bar:after,
                .menu_toggle_bar::before {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all 0.5s ease;
                    background: white;
                    content: '';
                    height: 0.4rem;
                    width: 3rem;
                }
                .menu_toggle_bar {
                    margin-top: 0;
                    &::after {
                        margin-top: 0.8rem;
                    }
                    &::before {
                        margin-top: -0.8rem;
                    }
                }
            }

            .menu__labelH.transformMenu{
                .menu_toggle_bar{ background: transparent; }

                .menu_toggle_bar::after{transform: rotate(45deg);}
                .menu_toggle_bar::before{transform: rotate(-45deg);}

                .menu_toggle_bar::after, .menu_toggle_bar::before{
                    background: white;
                    margin-top: 0;
                }
            }
        }

        #toogle:checked+.menu {
            transition: 0.2s;
            left: 0;
        }
    }
    .menu {
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        left: -100%;
        top: 0;
        height: 0;
        transition: 0.2s;
    }
}